h2 {
  color: blue;
}

.important {
  color: red;
  font-weight: bold;
  text-decoration: underline;
}

#fst {
  color: green;
}
p.detail { line-height: 1em }
<style>
    body{
      background-color: white;
      color: black;
    }
    a{
      color: blue
    }
    body.dark{
      background-color: #112;
      color: white;
    }
    body.dark a{
      color: cyan;
    }
</style>
